<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="XIncludeDemo">

    <appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="org.eclipse.jetty" level="error" additivity="false">
            <appenderref ref="STDOUT"/>
        </logger>
        <root level="warn">
            <appenderref ref="STDOUT"/>
        </root>
    </loggers>

</configuration>